<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg  " width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav>
<div class="container">
<div class="col">
<h1>{{title}}</h1>
</div>
<hr/>

<form class="form-row">
   <div class="form-group col md-2">
     <label for="nombre" class="sr-only">Nombre</label>
     <input type="text" name="nombre" id="nombre" placeholder="Nombre"
     class="form-control" [(ngModel)] ="nombreInput">
   </div>
   <div class="form-group col md-2">
    <label for="apellido" class="sr-only">apellido</label>
    <input type="text" name="apellido" id="apellido" placeholder="apellido"
    class="form-control" [(ngModel)] ="apellidoInput">
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary" (click)="agregarPersona()">Agregar</button>
  </div>
</form>
<hr>
<h1>informacion clase hija</h1>
<app-persona *ngFor="let persona1 of personas; let i = index"
  [persona]="persona1"
  [indice]="i">
</app-persona>
<hr>
<div>
  <h1>Home component</h1>

  <h4>Nombre Usuario</h4>

  <form class="form-row">
     <div class="form-group col md-2">
    <input type="text" name="nameInput" id="nombre" placeholder="Nombre"
    class="form-control" [(ngModel)] ="nameInput">
    </div>
    <div class="form-group col md-2">
      <input type="text" name="lastname" id="lasname" placeholder="lastname"
    class="form-control" [(ngModel)] ="lastnameInput">
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="agregarPersona2()">Crear usauario</button>
        </div>

  </form>

    <div class="container">
      <div class="col">
        <div class="row">
          <div>
            <p > {{person.name}} {{person.lastName}}</p>

          </div>
        </div>
      </div>
    </div>
    <app-child></app-child>
</div>

</div>
